.Card {
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 3px #4f4f4f;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.Card .card-img {
  width: inherit;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.Card .card-body {
  padding: 15px;
}
.Card .card-body .card-title {
  font-size: 24px;
  font-weight: 500;
}